<% total = 0 %>
<div class="cartcontainer">
<% if @cart.length == 0 %>
    <h2>Your cart is empty</h2>

<% else %>

<table class="table">

  <thead>
  <th> Product </th>
  <th> Description </th>
  <th> Quantity </th>
  <th> Add </th>
  <th> Remove </th>
  <th> Price </th>
  <th> Amount </th>
  <th>  </th>
  </thead>

  <% @cart.each do |id, quantity| %>
    <% product = Product.find(id) %>
      <tr>
        <td><%= image_tag product.image_url.to_s().split(", ")[0], :width => 100 %></td>
        <td> <%= product.name %> </td>
        <td> <%= quantity %></td>
        <td align="center"> <%= button_to '+', :action => :increase, :id => product.id %> </td>
        <td align="center"> <%= button_to '-', :action => :decrease, :id => product.id %> </td>
        <td align="right"> <%= number_to_currency product.price %> </td>
        <td align="right"> <%= number_to_currency product.price * quantity %> </td>
        <td align="right"><%= link_to 'Delete', :action => :destroy, data: { confirm: 'Are you sure?' }, :id => product.id %></td>

      </tr>
      <% total += quantity * product.price %>
  <%end%>

  <tr>
    <td colspan="5" align="right"> Total: </td>
    <td align="right"> <%= number_to_currency total %> </td>
  </tr>
  <tr>
    <td colspan="5" align="right"> <%= button_to 'Process order', :controller => :order, :action => :form %> </td>
  </tr>

</table>

<% end %>

<%= link_to '< Keep buying', products_path, :class=>'keepbuy' %>

</div>